{
  "env": {
    "es2022": true
  },
  "settings": {
    "import/resolver": { "typescript": true, "node": true }
  },
  "plugins": [
    "@typescript-eslint",
    "unicorn",
    "prettier"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:unicorn/recommended",
    "airbnb-base",
    "plugin:prettier/recommended"
  ],
  "rules": {
    "no-plusplus": "off",
    "no-continue": "off",
    "no-use-before-define": "off",
    "import/prefer-default-export": "off",
    "import/extensions": "off",
    "unicorn/no-null": "off",
    "unicorn/prevent-abbreviations": "off",
    "unicorn/no-array-for-each": "off",
    "unicorn/no-process-exit": "off",
    "unicorn/prefer-top-level-await": "off"
  },
  "overrides": [
    {
      "files": [ "*.ts" ],
      "parser": "@typescript-eslint/parser",
      "parserOptions": { "project": "./tsconfig.json" },
      "extends": [
        "plugin:import/typescript",
        "plugin:@typescript-eslint/eslint-recommended",
        "plugin:@typescript-eslint/recommended-requiring-type-checking",
        "plugin:@typescript-eslint/recommended"
      ],
      "rules": {
        "@typescript-eslint/no-unsafe-argument": "off"
      }
    }
  ]
}
